:root {
    --orange: #EA4335;
    --blue: #4285F4;
    --green: #34A853;
    --yellow: #FBBC05;
}

.google-logo {
    position: relative;
    width: 20px;
    height: 20px;
    border-top: 10px solid var(--orange);
    border-right: 10px solid var(--blue);
    border-bottom: 10px solid var(--green);
    border-left: 10px solid var(--yellow);
    border-radius: 50%;
}
body{
    margin-top: 20%;
    display: flex;
    justify-content: center;
} 
.gg-div{
    padding: 10px 0 0 18px;
    width: 60px;
    height: 50px;
    border: 1px solid black;
    border-radius: 30px;
}

 .google-logo::before {
    content: "";
    position: absolute;
    background-color: var(--blue);
    width: 20px;
    height:10px;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

.google-logo::after {
    content: "";
    position: absolute;
    top: -10px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 25px solid #fff;
}


